<!DOCTYPE html>
<html>
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body>
    <%-include('./partial/navbar.ejs') %>
    <div class="flex">
      <%-include('./partial/sidenav.ejs') %>
      <main class="px-16 py-6 flex-1">
        <header>
          <h2 class="text-gray-700 text-5xl font-semibold font-main">
            <%= title %> : <%= source.name %>
          </h2>
          <div class="flex my-6 items-start">
            <img
              src="/uploads/sources/<%= source.filepath %>"
              class="mr-3 mb-3 w-full h-22 sm:h-48 object-cover"
            />
            <p class="font-secondary text-xl float-left">
              <%= source.description %>
            </p>
          </div>

          <h2 class="mt-5 text-gray-700 text-3xl font-semibold font-main">
            Creatures
          </h2>
          <div class="grid lg:grid-cols-3 gap-10">
            <% if (source_creatures.length > 0) { %> <%
            source_creatures.forEach( (creature) => { %>
            <div class="card hover:shadow-lg">
              <div class="m-4 mb-1 flex justify-center items-end">
                <span class="text-lg tracking-wide font-bold font-main"
                  ><%= creature.name %></span
                >
              </div>
              <img
                src="/uploads/creatures/<%= creature.filepath %>"
                class="w-full h-22 sm:h-48 object-cover"
              />
              <a href="<%=creature.url%>">
                <button
                  class="absolute bottom-0 right-0 mr-3 mb-2 bg-black hover:bg-gray-900 text-white font-bold py-2 px-4 rounded font-secondary tracking-wide"
                >
                  View
                </button>
              </a>
            </div>
            <% } ) %> <%} %>
          </div>
        </header>
      </main>
    </div>
  </body>
</html>
